@model IEnumerable<AutomatedTellerMachine.Models.CheckingAccount>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.User.Pin)</th>
        <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Balance)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.Pin)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {item.Id}) |
                @Html.ActionLink("Details", "DetailsForAdmin", new {item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {item.Id})
            </td>
        </tr>
    }
</table>

